img.featured-img {
  height: 200px;
}
.featured-title h3 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #e76f51;
  text-align: left;
  padding-left: 6%;
  padding-top: 30px;
  padding-bottom: 0px;
}

@media (max-width: 375px) {
  .featured-title h3 {
    font-size: 7vw;
    color: #e76f51;
    text-align: center;
    padding-left: 0%;
    padding-top: 20px;
    padding-bottom: 0px;
  }
}

/* PRODUCTS ============================ */

@media (min-width: 601px) {
  .featured-products {
    width: 88%;
    margin: 0 auto;
    display: flex;
    flex-wrap: no-wrap;
    padding-bottom: 60px;
    justify-content: space-between;
  }
  .featured-products img {
    border: 1px solid black;
    width: 90%;
  }
}

@media (max-width: 600px) {
  .featured-products {
    width: 88%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 30px;
    justify-content: space-evenly;
  }
  .featured-products img {
    border: 1px solid black;
    width: 100%;
  }

  .featured-products a.product {
    width: 100px;
  }
}
