html,
body {
  height: 100vh;
}
body > footer {
  position: sticky;
  top: 100vh;
}
.footer-links :hover {
  background-color: #feec46;
}
img.footer-logo {
  width: 250px;
  height: 150px;
  object-fit: cover;
  object-position: 60% 60%;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 81px;
  background-color: #ff8329;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 25px;
}
div.footer-links {
  display: flex;
  flex-direction: column;
}
