.sign-up-form {
  height: 50vh;
  display: flex;
  width: 45vw;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.form-sign-up {
  display: flex;
  height: 65vh;
  justify-content: center;
  margin: 15px;
  align-content: center;
  align-items: center;
  flex-direction: column;
}
.button-wrapper {
  display: flex;
  margin: 15px;
  justify-content: center;
}
label[data-shrink="false"]
  + .MuiInputBase-formControl
  .css-10botns-MuiInputBase-input-MuiFilledInput-input {
  padding: 15px;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: #ff8329;
}
