.form-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: black;
  border-radius: 5px;
  width: 55vw;
  height: 600px;
  align-items: center;
}
.addproduct-h2 {
  color: #ff8329;
}
.create-form-container {
  display: flex;
  justify-content: center;

  margin: 50px;
}
.add-submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addproduct-h2 {
  display: flex;
  justify-content: center;
}
