.prints-wrapper .prints {
  /* width: 90vw; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 80px 0 80px;
}

.prints-wrapper img {
  width: 150px;
  border: 1px solid #e4e5e7;
  transition: transform 0.2s; /* Animation */
  margin-top: 40px;
}
.img-containers {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-text {
  display: flex;
  justify-content: center;
  text-align: center;
}
img.print-image img:hover {
  transform: scale(1.2); /* (150% zoom)*/
}
a.addProduct {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #ff8329;
  padding: 8px 14px 8px 14px;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  margin: 100px auto 100px auto;
  width: 100px;
}
